/* --------------------------------------------------------------------------------
		Pages - Basket: pages/basket.scss
----------------------------------------------------------------------------------- */

.basket_container {
    @extend .clearfix;

    #basket-grid {
        float:left;
        width:70%;

        table {
            width:100%;
            th {
                font-size:14px;
                font-weight:300;
                text-transform:uppercase;
                border-top:1px solid #dfdfdf;
                border-bottom:1px solid #dfdfdf;
                padding:8px 0;
            }

            td {
                border-bottom:1px solid #dfdfdf;
                padding:30px 10px;

                &:first-child {padding-left:0;}

                &.item {max-width:380px;}
            }



        }

        .item_container {
            @extend .clearfix;
            position:relative;

            .product_image {
                width:150px;
                border:1px solid #dfdfdf;
                float:left;
                img {
                    display:block;
                    width:100%;
                    max-width:100%;
                }
            }

            .product_details {
                margin:0 0 0 170px;

                h3 {font-family:"Kameron",serif; font-size:18px; margin:0; line-height:1.2; color:#000;}
                p {font-size:12px; margin:0; color:#666;}

                .remove_item {
                    position:absolute;
                    left:170px;
                    bottom:0;
                    background:#000;
                    color:#fff;
                    font-weight:bold;
                    font-size:14px;
                    text-transform:uppercase;
                    padding:12px 30px;
                    text-align:center;
                }
            }
        }
    }

    #basket-summary {
        float:right;
        width:25%;


        .basket_summary_widget {
            background:#f9f9f9;
            padding:20px;
            margin:0 0 20px;

            h3 {
                font-weight:bold;
                font-size:14px;
                text-transform:uppercase;
                border-bottom:1px solid #dfdfdf;
                padding:0 0 10px;
                margin:0 0 20px;
            }
        }
    }

    #basket-order-summary {
        table {
            width:100%;
            table-layout:fixed;
            border-bottom:1px solid #dfdfdf;
            margin:0 0 20px;

            td {
                word-wrap:break-word;
                padding:10px;

                &.label {text-align:right; font-size:12px; font-weight:normal;}
                &.value {font-size:13px; font-weight:bold; width:60px;}
            }
        }

        .checkout_btn {
            display:block;
            background:#a03795;
            font-size:14px;
            font-weight:bold;
            text-align:center;
            text-transform:uppercase;
            color:#fff;
            padding:10px;
        }
    }

}