$icon-chevron-down: "\e900";
$icon-chevron-left: "\e901";
$icon-chevron-right: "\e902";
$icon-chevron-small-down: "\e903";
$icon-chevron-small-left: "\e904";
$icon-chevron-small-right: "\e905";
$icon-chevron-small-up: "\e906";
$icon-chevron-thin-down: "\e907";
$icon-chevron-thin-left: "\e908";
$icon-chevron-thin-right: "\e909";
$icon-chevron-thin-up: "\e90a";
$icon-chevron-up: "\e90b";
$icon-chevron-with-circle-down: "\e90c";
$icon-chevron-with-circle-left: "\e90d";
$icon-chevron-with-circle-right: "\e90e";
$icon-chevron-with-circle-up: "\e90f";
$icon-check: "\e91c";
$icon-cross: "\e910";
$icon-grid: "\e911";
$icon-heart-outlined: "\e912";
$icon-heart: "\e913";
$icon-search: "\e91b";
$icon-mail: "\e914";
$icon-menu: "\e915";
$icon-minus: "\e916";
$icon-plus: "\e917";
$icon-pinterest: "\e918";
$icon-twitter: "\e919";
$icon-cart: "\e91a";
$icon-facebook: "\e600";
$icon-google-plus: "\e601";
$icon-instagram: "\e603";
